html, body {
  min-height: 100vh;
  background-color: $background-color;
}

main {
  padding: $padding;
}

@include mobilefirst($large-break) {
  main {
    margin: auto;
    width: calc(100% - 100px);
  }
}