.meeting-finder {
  width: 100%;
  display: flex;
  column-count: 12;
  flex-wrap: wrap;
  height: 90vh;
  padding: $padding;

  flex-direction: column-reverse;

  .search {
    flex: 12;
    display: flex;
    flex-direction: column;
    height: 100%;

    .results {
      flex: 1 1 auto;
    }
  }

  #map {
    flex: 12;
  }

  @include mobilefirst($extra-large-break) {
    flex-direction: row;

    .search {
      flex: 4;
    }

    #map {
      flex: 8;
    }
  }
}

.loading {
  font-style: italic;

  margin-top: 25px;
}

.filters {
  padding: $padding;
}

.results {
  list-style: none;
  overflow-y: auto;
  overflow-x: visible;
  padding: $padding;
  margin: 0;

  .result {

    height: 82px;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: $shadow;
    margin-bottom: $padding;

    transition: background-color 300ms linear;

    &.active {
      background-color: $silver;
      transition: none;
    }

    .title {
      font-size: 18px;
    }

    .time {
      float: right;
      font-size: 14px;
    }

    .focus {
      &.disabled {
        color: $grey;
        text-decoration: line-through;
        cursor: default;
      }
    }

    .logo {
      aspect-ratio: 1/1;
      float: left;
      margin-right: $padding;
      height: 100%;
    }

    .actions, .subtext {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
      }
    }

    .subtext {
      color: $grey;
      font-size: 14px;

      li + li::before {
        content: " • ";
      }
    }

  }
}