.meeting-finder {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: 90vh;
  min-height: 1000px;

  .search {
    flex: 12;
    display: flex;
    flex-direction: column;
    height: 100%;

    .results {
      flex: 1 1 auto;
    }
  }

  #map {
    flex: 5;
    height: 100%;
  }

  @include mobilefirst($extra-large-break) {
    flex-direction: row;

    .search {
      flex: 4;
    }

    #map {
      flex: 8;
    }
  }
}

.loading {
  font-style: italic;

  margin-top: 25px;
}

.filters {
  padding: $padding;
}

.results-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.results {
  list-style: none;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $padding;
  position: absolute;
  margin: 0;

  .result {
    height: 82px;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: $shadow;
    margin-bottom: $padding;
    margin-right: $padding;
    display: flex;

    transition: background-color 300ms linear;

    .container {
      width: 100%;
      overflow: hidden;
      position: relative;

      .inner {
        position: absolute;
        width: 100%;
      }
    }

    &.active {
      background-color: $silver;
      transition: none;
    }

    .title {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .name {
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .time {
      font-size: 14px;
      text-align: end;
      white-space: nowrap;
    }

    .focus {
      &.disabled {
        color: $grey;
        text-decoration: line-through;
        cursor: default;
      }
    }

    .logo {
      aspect-ratio: 1/1;
      float: left;
      margin-right: $padding;
      height: 100%;
    }

    .actions, .subtext {
      list-style: none;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;

      li {
        display: inline-block;
      }
    }

    .subtext {
      color: $grey;
      font-size: 14px;

      li + li::before {
        content: " • ";
      }
    }

  }
}