.modal {
  font-family: $fonts;

  .disclaimer {
    float: right;
  }

  .overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    z-index: 1001;
    background-color: $white;
    width: 90vw;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;

    @include mobilefirst($large-break) {
      width: 1000px;
    }

    .inner-container {
      padding: 30px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  fieldset {
    border: 0;
  }

  .separator,
  fieldset {
    padding-bottom: $padding;
    padding-top: $padding;
    border-top: 2px solid $grey;
  }

  .location-notes {
    margin-top: $padding;
  }

  .meta {
    padding-top: $padding;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: $primary-color;
    box-sizing: border-box;

    display: flex;
    align-items:center;
  }

  .logo {
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: $padding;
  }

  .close {
    background: transparent;
    border: 0;
    color: $primary-color;

    &:hover,
    &:focus  {
      color: $primary-color;
      background: transparent;
    }
  }

  .header .close:before { content: "\2715"; }

  .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba($black,.8);
    word-break: break-word;
  }

  /**************************\
        Animation Style
  \**************************/

  @keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
  }

  @keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
  }

  &.micromodal-slide {
    display: none;
  }

  &.micromodal-slide.is-open {
    display: block;
  }

  &.micromodal-slide[aria-hidden="false"] .overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.micromodal-slide[aria-hidden="false"] .container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &.micromodal-slide[aria-hidden="true"] .overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.micromodal-slide[aria-hidden="true"] .container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &.micromodal-slide .container,
  &.micromodal-slide .overlay {
    will-change: transform;
  }
}

